.navigation {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #ffffff;
	color: #090909;
	font-family: 'Roboto', sans-serif;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
	align-items: right;
}
.logo {
	width: 23%;
	padding: 1%;
}
nav {
	width: 90%;
	padding: 1%;
	align-items: right;
}
ul {
	margin: 0;
	padding: 0;
	align-items: right;

	
}
.text h1,.text h2{
	font-family: 'Roboto', sans-serif;
}

main1{
	font-family: 'Roboto', sans-serif;
	align-items: center;
 }
Aboutme{ 
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 90%
      }
      .image {
        flex-basis: 60%;
        order: 2;
        margin-left: 1cm;
      }
      .text {
        color: #000000;
        padding-left: 20px;
        font-family: 'Roboto', sans-serif;
      }	
ul li {
	margin: 0;
	padding: 0 10px;
}

.content {
	width: 500px;
	margin: 3 auto;
	text-align: right;
	font-family: 'Roboto', sans-serif;
}
footer {
	background-color: #ed8a19;
	padding: 20px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
footer ul {
	display: inline-block;
	vertical-align:top;
}
footer ul li {
	padding: 0 10px;
	color: #fff;

}



